.component-section-wrapper {
  display: flex;
  padding: 5em 1.5em;
  flex-direction: column;
  grid-row-gap: 3em;
}

@media screen and (max-width: 767px) {
  .component-section-wrapper {
    padding-right: 0em;
    padding-left: 0em;
  }
}